<div class="navigation-bar"> <!-- Navbar links -->
  <div class="logo">
    <strong> <%= link_to "The Smoothie", root_path, class: "logo" %> </strong></div>
    <div class="dropdown">
      <button id="mainDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%= render 'components/logo' %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="mainDropdown">
        <% if user_signed_in? %>
        <%#= link_to 'Order', new_flat_path  %>   <!-- link for ordering to add when done -->
        <li><%= link_to "Log out", destroy_user_session_path, class: "btn btn-default", data: { confirm: "Log out?" }, method: :delete %></li>
        <li><%= link_to 'Preferences form',  preferences_path, class: "btn btn-default" %></li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path, class: "btn btn-default" %></li>
          <li><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default" %></li>
        <% end %>
          <li><%= link_to 'Smoothies', smoothies_path, class: "btn btn-default" %></li>
          <li><%= link_to 'About', page_path("about"), class: "btn btn-default" %></li>
      </ul>
    </div>

  </div>



<script type="text/javascript">
  function toggleDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
</script>
