<div class="container">
  <h1>Configure Your Basket</h1>
  <%= simple_form_for :order, url: order_add_items_path(@order) do |form| %>

  <div class="smoothies">
    <% @smoothies.each do |smoothie| %>

    <div class="smoothie">
      <img src="<%= smoothie.photo %>" alt="" width ="150" height="120">

      <%= form.simple_fields_for :order_items do |s| %>
      <h3><%=smoothie.name%></h3>

      <div class="smoothie__amount">
        <% key = "smoothie_quantity" + smoothie.id.to_s %>
        <%= s.input key.to_sym, selected: 0, collection: (0..5), label: "Quantity", required: false %>
      </div>
      <% end %>
      <div class="btn btn-default">Details</div> <!--Will Open the modal-->
    </div>
    <% end %>
  </div>
  <%= form.submit "Order", class: "btn btn-lg btn-center btn-success" %>
  <% end %>
</div>
