 <%= simple_form_for @user do |f| %>
 <h2>Let us know about yourself <%= @user.first_name %></h2>
    <%= f.input :age %>
    <%= f.input :weight %>
    <%= f.input :height %>
    <%= f.input :like_id %>
    <%= f.input :dislike_id %>
    <%= f.input :gender %>
    <%= f.input :goal %>

    <%= f.submit 'Done', class: 'btn btn-lg btn-info' %>

  <% end %>
