<div class="container">
   <% if user_signed_in? %>
   <%= simple_form_for @user do |f| %>
    <h1>Let us know about yourself</h1>
    <%= f.input :age %>
    <%= f.input :weight %>
    <%= f.input :height %>
    <%= f.input :gender %>
    <%= f.input :goal %>

    <%= f.submit 'Done', class: 'btn btn-lg btn-info' %>
  <% end %>

  <% else %>
    <h1>Hi Guest!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eum, maxime vel soluta.</p>
    <!-- Create a new user instance -->
    <%= link_to 'Configure', smoothies_configure_path, class: "btn btn-default" %>
  <% end %>

</div>
