<div class="container">
   <% if user_signed_in? %>
   <%= simple_form_for @user do |f| %>
    <h2>Let us know about yourself</h2>
    <%= f.input :age %>
    <%= f.input :weight %>
    <%= f.input :height %>
    <%= f.input :like_id %>
    <%= f.input :dislike_id %>
    <%= f.input :gender %>
    <%= f.input :goal %>

    <%= f.submit 'Done', class: 'btn btn-lg btn-info' %>
  <% end %>

  <% else %>
    <p>No user</p>
    <!-- Create a new user instance -->
    <%= link_to 'Configure', pages_configure_path, class: "btn btn-default" %>
  <% end %>

</div>
