 <div class="edit-preferences">


    <div class="layout">

      <div class="content">
         <div class="container">
        <h2>Let us know about yourself</h2>

        <div class="preferences-form">
         <% if user_signed_in? %>
         <%= simple_form_for @user do |f| %>

          <strong><div class="value__selected-info-top">
            Age:
          </div></strong>
          <div id="age__selected" class="value__selected">
            30
          </div>
         <%= f.input :age, as: :range, label: false,
          input_html: { id:"age",
          min:18, max:98, step:1, value:30} %>

          <strong><div class="value__selected-info-top">
            Weight:
          </div></strong>
          <div id="weight__selected" class="value__selected">
            50
          </div>
         <%= f.input :weight, as: :range, label: false,
          input_html: { id:"weight",
          min:"30", max:"140", step:"1", value:50} %>

          <strong><div class="value__selected-info-top">
            Height:
          </div></strong>
          <div id="height__selected" class="value__selected">
            160
          </div>
          <%= f.input :height, as: :range, label: false,
          input_html: { id:"height",
          min:"60", max:"220", step:"1", value:160} %>

        <div class="content-bottom">
           <div class="content-bottom-element ">
              <%= f.input :gender, as: :radio_buttons,
            input_html: {class: "form-check-input" },
            collection: [
              ['female', 'Female'],
              ['male', 'Male'],
              ['other', 'Other']
            ],
            selected: 0,
            label_method: :second,
            label_html: {class: "form-check-label"},
            value_method: :first
            %>
          </div>

          <div class="content-bottom-element">
            <%= f.input :goal, as: :radio_buttons,
            input_html: { class: "" },
            collection: [
              ['detox', 'Detox'],
              ['weight-loss', 'Weight Loss'],
              ['muscle', 'Muscle'],
              ['immune', 'Immune'],
              ['energy', 'Energy'],
            ],
            selected: 0,
            label_method: :second,
            value_method: :first
            %>
          </div>
        </div>
    <%= f.submit 'Done', class: 'testbtn btn btn-lg btn-success' %>
      </div>

    </div>
    <% end %>
  </div>
    <div class="sidebar">
      <div class="">
        <%= render 'allergies/new' %>
      </div>
      <div class="">
        <%= render 'dislikes/new' %>
      </div>
      <div class="">
        <%= render 'likes/new' %>
      </div>
    </div>
  </div>

  <% else %>
  <h1>Hi Guest!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eum, maxime vel soluta.</p>
  <!-- Create a new user instance -->
  <%= link_to 'Configure', smoothies_configure_path, class: "btn btn-default" %>
  <% end %>

<script>

  // document.querySelector(".testbtn").addEventListener("click", event => {
  //   console.log("hello")
  //   document.querySelectorAll("form").forEach(form => {
  //     form.submit()
  //   })
  // })

  const age = document.getElementById("age");
  const selected_age = document.getElementById("age__selected");
  age.addEventListener("change", (event) => {
      event.preventDefault();
      selected_age.innerHTML = event.target.value;

  });
  const weight = document.getElementById("weight");
  const selected_weight = document.getElementById("weight__selected");
  weight.addEventListener("change", (event) => {
      event.preventDefault();
      selected_weight.innerHTML = event.target.value;

  });
  const height = document.getElementById("height");
  const selected_height = document.getElementById("height__selected");
  height.addEventListener("change", (event) => {
      event.preventDefault();
      selected_height.innerHTML = event.target.value;

  });


</script>

</div>
