<div class="container">
  <div class="smoothie--detail">
    <div>
      <img src="<%= @smoothie.photo %>" alt="" width ="400" height="400">
    </div>
    <h1><%= @smoothie.name %></h1>
    <p><%= @smoothie.nickname %></p>
    <p><%= @smoothie.description %></p>

    <div class="smoothie__ingredients">
      <h2 class="smoothie__ingredients__title">Ingredients:</h2>
      <% @smoothie.doses.each do |d| %>
        <div class="smoothie__ingredient">
          <%= d.ingredient.name %> <%= d.value%><%= d.unit%>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row btn-lg btn-center">
   <div class="col-sm-6"> <%= link_to 'Back', smoothies_path, class: 'btn btn-lg btn-center btn-success' %> </div>
   <div class="col-sm-6"><%= link_to 'Order', page_path("choose-amount"), class: 'btn btn-lg btn-center btn-success' %></div>
  </div>
</div>
